//给项目提供的sass的全局变量

// 主题样式参数
//lyout页的左侧导航栏宽度
$base-menu-width:260px;
//lyout页的左侧导航栏宽度
$min-menu-width:60px;
//lyout页的左侧导航栏颜色
$base-menu-backgroud:rgba(1, 6, 69, 0.649);
//layout页面左侧导航栏字体激活颜色
$base-menu-active-color:rgba(4, 164, 34,0);
//lyout页的右侧导高度
$base-tabbar-height:50px;
//logo页的logo高度
$base-menu-logo-innerHeight:50px;
//logo页的字体大小
$base-logo-title-fontSize:20px;
//tabbar的颜色
$base-tabbar-backgroud:rgba(1, 6, 69, 0.649);